<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Hunt</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>

    <main>
        <h1>{{ data.titulo }}</h1>
        <div class="buscador">
            <input type="text" size="100">
            <button> Buscar </button>
        </div>
        
        <div class="book-container">
            {% for libro in data.libros %}
                <div class="book-card">
                    <h3>{{ libro.nombre }}</h3>
                    <p><strong>Tienda:</strong> {{ libro.tienda }}</p>
                    <p><strong>Precio:</strong> {{ libro.precio }}€</p>
                    <p class="shipping"><strong>Gastos de Envío:</strong> {{ libro.gastos_envio }}€</p>
                    <p class="total"><strong>Total:</strong> {{ libro.total }}€</p>
                </div>
            {% endfor %}
        </div>
    
    </main>
    
</body>
</html>